body, html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	color: white;
	display: none;
	font-family: 'Signika', sans-serif;
	user-select: none;
	text-transform: uppercase;
	background-color: rgba(17, 5, 17, 0.2);
}

#mainContainer{
	width: 70%;
	height: 63%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 17px;
	background-color: rgba(17, 5, 17, 0.4);
}

#walletContainer{
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	border-bottom: 2px solid lightgrey;
	border-radius: 13px 13px 0px 0px;
}

#walletImg{
	width: 20%;
	height: 90%;
	background-image: url(img/wallet.png);
	background-size: cover;
	background-position: center center;
	margin-left: 2%;
	margin-top: 1%;
	float: left;
}

#walletHeader{
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
	box-sizing: border-box;
	border-bottom: 2px solid lightgrey;
	background-color: rgba(17, 5, 60, 0.4);
	border-radius: 13px 13px 0px 0px;
}

#walletInfo{
	width: 100%;
	height: 75%;
	background-color: rgba(1, 23, 42, 0.8);
}

#actionsContainer{
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	border-bottom: 2px solid lightgrey;
	border-radius: 13px 13px 0px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.action{
	width: 32%;
	height: 90%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 12px;
	background-color: rgba(17, 5, 60, 0.4);
	background-size: 60%;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	-webkit-text-stroke: 0.7px black;
}

.action:hover{
	background-color: rgba(17, 5, 110, 0.7);
}

#wallet{
	width: 78%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.walletCount{
	background-color: rgba(17, 80, 120, 0.6);
	padding: 7px;
	font-size: 13pt;
	border-radius: 7px;
}

#currentActionContainer{
	width: 100%;
	height: 60%;
}

.actionContainer{
	width: 100%;
	height: 100%;
}

#close{
	width: 2.8%;
	height: 5%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 50%;
	background-color: rgba(60, 0, 0, 0.5);
	position: absolute;
	left: 85.3%;
	top: 18.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18pt;
}

#close:hover{
	background-color: rgba(120, 0, 0, 0.7);
}

.actionWarning{
	width: 96%;
	height: 20%;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 12px;
	background-color: rgba(60, 0, 0, 0.2);
	margin-top: 2%;
	margin-left: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size:  10pt;
	color: red;
}

#selfAccountContainer{
	width: 100%;
	height: 25%;
	box-sizing: border-box;
	border-bottom: 2px solid lightgrey;
	border-radius: 12px 12px 0px 0px;
	background-color: rgba(17, 5, 60, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: none;
}

#qrContainer{
	width: 100%;
	height: 75%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(17, 80, 120, 0.6);
}

#qrInfo{
	width: 50%;
	height: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#buyAndSellContainer{
	width: 96%;
	height: 72%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 12px;
	background-color: rgba(17, 5, 17, 0.4);
	margin-top: 1.8%;
	margin-left: 1.8%;
	display: none;
}

#reciveContainer{
	width: 96%;
	height: 72%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 12px;
	background-color: rgba(17, 5, 17, 0.4);
	margin-top: 1.8%;
	margin-left: 1.8%;
	display: none;
}

#exchangeHeader{
	width: 100%;
	height: 15%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 12px;
	background-color: rgba(17, 5, 60, 0.4);
	margin-top: 1.7%;
	margin-left: 2%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24pt;
}

.buyAndSellHeader{
	width: 100%;
	height: 15%;
	box-sizing: border-box;
	border-bottom: 2px solid lightgrey;
	background-color: rgba(17, 5, 60, 0.4);
	border-radius: 13px 13px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16pt;
}

input[type=number] { 
  border: none;
  background-color: transparent;
  border-radius: 7px;
  margin: 0; 
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18pt;
  color: white;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=text] { 
  border: none;
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid lightgrey;
  margin: 0; 
  text-align: center;
  width: 60%;
  height: 80%;
  font-size: 18pt;
  color: white;
  background-color: rgba(17, 80, 120, 0.4);
}

.inputContainer{
	width: 50%;
	height: 75%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 7px;
	margin-left: 2%;
	background-color: rgba(17, 80, 120, 0.4);
}

.button{
	width: 30%;
	height: 90%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 12px;
	font-size: 16pt;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui-menu {
	background-color: rgba(17, 5, 60, 0.4);
	text-transform: none;
}

.ui-menu .ui-menu-item {
    background-color: rgba(17, 5, 60, 0.4);
    box-sizing: border-box;
    border-bottom: 1px solid lightgrey;
    text-transform: none;
}

.ui-menu .ui-menu-item a{
    background-color: rgba(17, 5, 60, 0.4);
    box-sizing: border-box;
    border-bottom: 1px solid lightgrey;
    text-transform: none;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: rgba(17, 5, 60, 0.4);
  border: 1px solid lightgrey;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  text-transform: none;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  text-transform: none;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: rgba(17, 5, 60, 0.4);
  cursor: pointer;
  text-transform: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  text-transform: none;
}

#sendButton{
	background-color: rgba(17, 5, 60, 0.4);
}

#sendButton:hover{
	background-color: rgba(17, 5, 120, 0.7);
}

#buyButton{
	background-color: rgba(0, 60, 0, 0.4);
}

#buyButton:hover{
	background-color: rgba(0, 120, 0, 0.7);
}

#sellButton{
	background-color: rgba(17, 5, 60, 0.4);
}

#sellButton:hover{
	background-color: rgba(17, 5, 120, 0.7);
}

.inputRow{
	width: 100%;
	height: 20%;
	margin-top: 3.3%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24pt;
}

.buttonsRow{
	width: 100%;
	height: 20%;
	margin-top: 3.3%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 24pt;
}

#buyContainer{
	width: 100%;
	height: 100%;
	float: left;
}

#graphicsContainer{
	width: 100%;
	height: 80%;
	margin-top: 1%;
	margin-left: 2%;
	position: relative;
	float: left;
}

#leftSide{
	width: 55%;
	height: 80%;
	float: left;
}

#invisibleHeader{
	position: absolute;
	width: 100%;
	height: 14%;
	background-color: transparent;
}

#mainMenuContainer{
	width: 42%;
	height: 96.4%;
	margin-top: 0.9%;
	margin-right: 1%;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 13px;
	background-color: rgba(17, 5, 17, 0.4);
	float: right;
}